@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
    color: inherit;
}

.gap-16 {
    gap: 16px;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

:root {
    text-color: #45494F;
    text-bold-color: #121212;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border-radius: 20px
}

.controls {
    height: 52px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

.controls__edit {
    display: flex;
    justify-content: center;
}
/* .controls__edit img:first {
    margin-top: 0;
} */
.controls__edit img {
    object-fit: contain;
}

.controls__link {
    width: 558px;
    height: 28px;
    border: 1px solid;
    border: none;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.controls__link p{
    text-align: center;
    color: var(text-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 6px;
}

.controls__newtab {
    margin-top: 5px;
}

.header {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 0px 2px #e5e6e9;
    
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__left img{
    margin-right: 10px;
}
.menu__list {
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.menu__list li {
    list-style-type: none;
}

.menu__item.active a{
    font-weight: 500;
}
.menu__list li:first-child {
    font-size: 18px;
    font-weight: 500;
}

.menu__item.active a {
    font-weight: 500;
}
.nav__right {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__list li{
    list-style-type: none;
}
.btn__signup {
    width: 105px;
    background-color: #121212;
    border-radius: 20px;
    text-align: center;
    padding: 10px 14px;
    color: white;
}






/*------------------------------------------*/
.ourplans {
    padding: 0 10px;
    width: 105px;
    height: 28px;
    margin: 64px auto 0;
    display: flex;
    justify-content: center;
    border: 1px solid #8d919a;
    border-radius: 20px;
    align-items: center;
    background-color: #e5e6e9;
}
.ourplans__link {
    list-style: disc;
    color: black;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    /* height: 131px; */
    margin: 16px auto 0;
}

.title h2{
    font-size: 56px;
    line-height: 64px;
    font-weight: 500;
}

.tilte p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    /* justify-content: center; */
}

.frequency {
    width: 184px;
    height: 44px;
    margin-top: 48px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 4px;
    color: white;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 1px #e5e6e9;
}

.frequency__btn {
    width: 88px;
    height: 36px;
    background-color: #232323;
    border-radius: 10px;
    /* padding: 8px, 10px, 8px, 10px; */
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    
}

.frequency__btn--light {
    background-color: #fff;
    color: black;
}
.buynow{
    display: flex;
    justify-content: center;
    gap: 24px
}
.buynow__inner {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 363px;
    height: 700px;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
    border-radius: 32px;
    border: 1px solid #EDEDED;
    margin-top: 48px;
}

.buynow__inner img{
    object-fit: contain;
}

.buynow__inner h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
}

.buynow__inner p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
}

.price {
    margin-top: 50px;
}
.price span{
    color: black;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
}
.price--light span{
    color: white;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
}

.buynow__inner button{
    width: 283px;
    height: 44px;
    border-radius: 12px;
    padding: 12px, 14px, 12px, 14px;
    background-color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 40px;
    border: 1px solid #EDEDED;
}
.buynow__inner--light{
    background-color: #2B2B2B;
    color: white;
}
.features hr {
    margin-top: 40px;
    background-color: #d8d8d8;
}
.features h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 40px;
}

.features__list li{
    list-style-type: circle;
    margin-left: 17px;
    line-height: 22px;
    margin-top: 16px;
}

.footer {
    width: 1136px;
    background-color: white;
    margin: 188px auto 0;
}

.footer__top{
    display: flex;
    justify-content: space-between;
}

.top__left {
    width: 313px;
}

.contact {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 32px;
}

.top__right p{
    color: black;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    width: 320px;
    height: 64px;
}

.footer__button {
    gap: 10px;
    margin-top: 24px;
}

.button__btn {
    border-radius: 12px;
    padding: 12px, 24px, 12px, 24px;
    border: 1px solid #EDEDED;
    width: 155px;
    height: 45px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}
.button__btn--light {
    background-color: white;
    color: black;
}

.footer hr{
    margin-top: 74px;
}
.footer__bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.bottom__left-img {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}